In [1]:
import scanpy as sc
import pandas as pd
from gtfparse import read_gtf

In [2]:
adata = sc.read("gastrulation.h5ad")
namen = adata.var_names.to_frame(name='gene_short_name')
namen

         gene_short_name
index
Xkr4                Xkr4
Gm37180          Gm37180
Gm37363          Gm37363
Gm37686          Gm37686
Gm37329          Gm37329
...                  ...
Gm29504          Gm29504
Gm20837          Gm20837
Mid1-ps1        Mid1-ps1
Gm47283          Gm47283
Gm21742          Gm21742

[53801 rows x 1 columns]

In [28]:
# 47,7k Übereinstimmung
db = pd.read_csv('/home/icb/jonas.flor/gastrulation_atlas/data/mouse.v12.geneID.txt', sep='\t')[['gene_ID', 'gene_short_name']]
db

                  gene_ID gene_short_name
0      ENSMUSG00000102693   4933401J01Rik
1      ENSMUSG00000064842         Gm26206
2      ENSMUSG00000051951            Xkr4
3      ENSMUSG00000102851         Gm18956
4      ENSMUSG00000103377         Gm37180
...                   ...             ...
50118  ENSMUSG00000111038      CR936839.3
50119  ENSMUSG00000111855      CR936839.4
50120  ENSMUSG00000102161   RP23-146J17.3
50121  ENSMUSG00000103068      CR936839.1
50122  ENSMUSG00000103806       Rpl17-ps1

[50123 rows x 2 columns]

In [33]:
new_names = namen.merge(db, on='gene_short_name', how='inner')
new_names

      gene_short_name             gene_ID
0                Xkr4  ENSMUSG00000051951
1             Gm37180  ENSMUSG00000103377
2             Gm37363  ENSMUSG00000104017
3             Gm37686  ENSMUSG00000103025
4             Gm37329  ENSMUSG00000103201
...               ...                 ...
47754         Gm21803  ENSMUSG00000100270
47755         Gm20879  ENSMUSG00000100246
47756         Gm29504  ENSMUSG00000100533
47757         Gm20837  ENSMUSG00000096178
47758         Gm21742  ENSMUSG00000099871

[47759 rows x 2 columns]

In [57]:
namen.isin(list(new_names['gene_short_name'])).values

array([[False],
       [False],
       [False],
       ...,
       [ True],
       [ True],
       [False]])

In [61]:
drop = namen[~namen['gene_short_name'].isin(list(new_names['gene_short_name']))]
drop

          gene_short_name
index
Eloc                 Eloc
Gm45784           Gm45784
Gm31812           Gm31812
C2cd6b             C2cd6b
C2cd6               C2cd6
...                   ...
Gm23786-1       Gm23786-1
Gm47281           Gm47281
Rbmy1a1           Rbmy1a1
Mid1-ps1         Mid1-ps1
Gm47283           Gm47283

[6294 rows x 1 columns]

In [83]:
adata_tmp = adata[:, new_names['gene_short_name']]

In [85]:
adata_tmp.var_names = new_names['gene_ID']
adata_tmp

/home/icb/jonas.flor/mambaforge/envs/scvi_pipeline/lib/python3.10/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

AnnData object with n_obs × n_vars = 89267 × 47759
    obs: 'barcode', 'sample', 'stage', 'sequencing.batch', 'theiler', 'doub.density', 'doublet', 'cluster', 'cluster.sub', 'cluster.stage', 'cluster.theiler', 'stripped', 'celltype', 'colour', 'umapX', 'umapY', 'haem_gephiX', 'haem_gephiY', 'haem_subclust', 'endo_gephiX', 'endo_gephiY', 'endo_trajectoryName', 'endo_trajectoryDPT', 'endo_gutX', 'endo_gutY', 'endo_gutDPT', 'endo_gutCluster', 'cell_velocyto_loom'
    var: 'Accession', 'Chromosome', 'End', 'Start', 'Strand'
    obsm: 'X_pca', 'X_umap'
    layers: 'spliced', 'unspliced'

In [87]:
adata_tmp.write('/home/icb/jonas.flor/gastrulation_atlas/data/gastrulation_IDs.h5ad')

... storing 'Accession' as categorical

In [86]:
adata_tmp.var_names

Index(['ENSMUSG00000051951', 'ENSMUSG00000103377', 'ENSMUSG00000104017',
       'ENSMUSG00000103025', 'ENSMUSG00000103201', 'ENSMUSG00000103161',
       'ENSMUSG00000102331', 'ENSMUSG00000088333', 'ENSMUSG00000102343',
       'ENSMUSG00000025900',
       ...
       'ENSMUSG00000101533', 'ENSMUSG00000102045', 'ENSMUSG00000100492',
       'ENSMUSG00000099982', 'ENSMUSG00000100330', 'ENSMUSG00000100270',
       'ENSMUSG00000100246', 'ENSMUSG00000100533', 'ENSMUSG00000096178',
       'ENSMUSG00000099871'],
      dtype='object', name='gene_ID', length=47759)